* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e2e8f0;
}

/* BOTÓN */
#toggleTema {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #38bdf8;
  color: black;
  font-weight: bold;
}

/* MODO CLARO */
body.light {
  background: #f1f5f9;
  color: #0f172a;
}

body.light .card {
  background: white;
  color: #0f172a;
}

body.light .nav {
  background: #e2e8f0;
}

body.light .proyecto {
  background: #f8fafc;
}


body.light .contacto-item {
  background: white;
  color: #0f172a;
}


body.light .edu-item {
  background: white;
  color: #0f172a;
}


body.light .contacto-item a {
  color: #2563eb;
}


body.light .edu-lugar {
  color: #64748b;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
}

